In [1]:
# Author: Juliane Oliveira

In [2]:
import pandas as pd

In [30]:
df = pd.read_csv('/Users/julianeoliveira/Documents/Projects/AESOP/AESOP datalake/Population/pop_muni_br_copy.csv',header = None, sep=';',engine='python')
#skipfooter= numero de linhas no final
#skiprows=[0,1,2],

In [45]:
df = df.rename(columns={0: "nivel", 1: 'cod_ibge', 2: 'muni_name',
                  3: '2001', 4: '2002', 5: '2003', 6:'2004',7:'2005',
                  8:'2006',9:'2007',10:'2008',11:'2009',12:'2010',13:'2011',
                  14:'2012',15:'2013',16:'2014',17:'2015',18:'2016',19:'2017',
                  20:'2018',21:'2019',22:'2020',21:'2021'})

In [46]:
df.head()

,nivel,cod_ibge,muni_name,2001,2002,2003,2004,2005,2006,2007,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2021
0,MU,1100015,Alta Floresta D'Oeste (RO),26919,27237,27563,29001,28629,29005,24577,...,24069,25728,25652,25578,25506,25437,23167,22945,22728,22516
1,MU,1100023,Ariquemes (RO),76371,78039,79680,86901,85031,86924,84581,...,92747,101269,102860,104401,105896,107345,106168,107863,109523,111148
2,MU,1100031,Cabixi (RO),7501,7490,7478,7421,7436,7421,6777,...,6132,6495,6424,6355,6289,6224,5438,5312,5188,5067
3,MU,1100049,Cacoal (RO),73996,74381,74758,76417,75988,76422,78263,...,79330,85863,86556,87226,87877,88507,84813,85359,85893,86416
4,MU,1100056,Cerejeiras (RO),18012,17925,17794,17217,17366,17215,16784,...,16852,18041,18013,17986,17959,17934,16444,16323,16204,16088

In [47]:
df.to_csv('/Users/julianeoliveira/Documents/Projects/AESOP/AESOP datalake/Population/pop_muni_br_2001_2021.csv')

In [42]:
df2

Empty DataFrame
Columns: [Nível, Cód., Município, 2001, 2002, 2003, 2004, 2005, 2006, 2008, 2009, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021]
Index: []

[0 rows x 22 columns]